# This is a basic workflow that is manually triggered

name: Auto-generate README.md

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  push:
    branches:
      - main  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Generate README.md
        run: |
          cat ./docs/README.md > ./docs/dockyard-cli-intro-en.md

      - name: Commit and push if changed
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add ./docs/dockyard-cli-intro-en.md
          git diff --cached --quiet && echo "No changes to commit" || git commit -m "chore: auto-generate README.md"
          git push

